/* Default Light Theme */
:root {
  --bg-color: rgb(219, 215, 210);
  --text-color: black;
}

/* Dark Theme */
body.dark {
  --bg-color: #121212;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}



.togglebutton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}